body {
    background-color: #f4f4f9;
}
 
.form-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.form-control {
    margin-bottom: 1rem;
    align-items: center;
}
 
.form-text text-danger {
    color: #dc3545;
}